:root {
  --primaryColor: #EA7C69;
  --baseBg2: #1F1D2B;
  --baseBg1: #252836;
  --baseLine: #393C49;
  --baseForm: #2D303E;
  --textGray: #889898;
  --textLight: #ABBBC2;
  --textLighter: #E0E6E9;
  --white: #fff;
  --baseLogo: #EA7C6929 16%;
  --logo: linear-gradient(106.37deg, #EB966A 50%, #EA6969 100%);
  --baseHome: linear-gradient(106.37deg, #3b3f4b .63%,
          #EA7C69 51.55%,
          #282c40 90.85%);
  --glass: linear-gradient(
    106.37deg,
    #252836 20%,
    #3b3f4b 60.55%,
    #252836 90.85%
  );
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
  /* position: absolute; */
  overflow: hidden auto;
  padding: 24px;
  color: var(--white);
  background: var(--baseHome);
  height: 100%;
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;

}
  
.AppGlass {
  display: grid;
  height: 100%;
  width: 100%;
  background: var(--baseBg1);
  border-radius: 16px;
  grid-template-columns: 104px auto;
  /* overflow: hidden; */
}

  
body{
  margin: 0;
}

h1,
h2{
    display: block;
    margin-inline-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    color: #FFFFFF;
}

/* Heading */
h1{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
}

h2{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

h3{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: var(--textLighter);
  margin-bottom: 0px;
}

/* Body */

.largeSemibold {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */ 
}

.largeMedium {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.largeReguler {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--textLight);
}

.normalSemibold {
  font-family: 'Barlow';
  font-style: normal  ;
  font-weight: 600; 
  font-size: 14px;
  line-height: 140%;
}

.normalMedium {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}

.normalReguler {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.smallMedium {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
}

.smallReguler {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
}

@media screen and (min-width: 1200px) {
  .App{
    height: 100%;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    display: grid;
    grid-template-columns: 100%;
  }
}

/* for iPad Mini */
@media screen and (width: 820px) and (height: 1180px)
{
  .App{
    height: 100vh;
  }
  .Cards{
    display: grid;
    grid-template-columns: 100%;
    
  }
}

/* for iPad Air */
@media screen and (width: 768px) and (height: 1024px)
{
  .App{
    height: 100vh;
  }
  .Cards{
    display: grid;
    grid-template-columns: 100%;
    
  }
}

/* fro surface pro 7 */
@media screen and (width: 912px) and (height: 1368px)
{
  .App{
    height: 100vh;
  }
  .Cards{
    display: grid;
    grid-template-columns: 100%;
    
  }
}





